.cards-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    overflow: hidden;
}

.card{
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.cards-container .card .card-promo-label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0 0 8px 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
.card .card-image{
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    transition: transform 0.6s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card .bottom_button{
    position: absolute;
    top: 70%;
    left: 50%;
    width: 90%;
    padding: 10px;
    background-color: #c5d9ef;
    color: rgb(75, 66, 66);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    transform: translateX(-50%) translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font: 1em sans-serif; /* Shorthand for font-size and font-family */
    font-weight: bold; /* Lighter font weight */
    transition: background-color 0.3s ease, box-shadow 0.5s ease;
}

.card .bottom_button:hover{
    background-color: #a8c2e0 ;
    transition: background-color 0.3s ease, box-shadow 0.5s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    opacity: 0.7;
    transform: translateX(-50%) translateY(-1px);
    border: 1px solid #c5d9ef;
    border-radius: 7px;
    transition: transform 0.5s ease, box-shadow 0.1s ease;
}
.card .bottom_button:active{
    transform: translateX(-50%) translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.card:hover .card-image{
    transform: scale(1.05);
}
.card .card-content{
    padding: 15px;
    font: 0.8em sans-serif;
}
.card .card-content .card-actual-price {
    font-size: 1.1em;
    font-weight: bold;
    color:red; /* Darker color for better contrast */
    margin-bottom: 2px !important;
}
.card .card-content .card-discount-price {
    font-size: 0.8em;
    color: #888; /* Lighter color for discounted price */
    text-decoration: line-through; /* Strikethrough for discounted price */
    
}
.card .card-content .card-title {
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    width: 30ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

